{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Contact Me 📩</h1>

<p style="margin-bottom: 25px; text-align: center;">
    Let’s connect and collaborate!
</p>

<div class="contact-icons">

    <a href="mailto:maryanneakinyi408@gmail.com" target="_blank">
        <i class="fas fa-envelope"></i>
        Email
    </a>

    <a href="https://github.com/still-purrfect" target="_blank">
        <i class="fab fa-github"></i>
        GitHub
    </a>

    <a href="https://www.linkedin.com/in/mary-anne-akinyi-419142310" target="_blank">
        <i class="fab fa-linkedin"></i>
        LinkedIn
    </a>

</div>

{% endblock %}